//@import "./theme-default";
@import "./theme-red";

// font-size
@font-lv-1: 36px;
@font-lv-2: 32px;
@font-lv-3: 30px;
@font-lv-4: 28px;
@font-lv-5: 24px;

// fong-color
@color-gray-1: #333;
@color-gray-2: #666;
@color-gray-3: #999;
@color-gray-5: #434343;




