// 主题色
@base-color: #f05800;

//按钮背景色开始颜色
@bg-start-color: rgb(247, 10, 10);
//按钮背景色结束颜色
@bg-end-color: yellow;
// radio选择的边框颜色
@radio-border-color: #d2d2d2;
// 表单label color
@form-label-color: #FF0000;

@base-color-disabled: rgb(228, 143, 143);

@font-lv-1: 36px;
@font-lv-2: 32px;
@font-lv-3: 30px;
@font-lv-4: 28px;
@font-lv-5: 24px;

@card-shadow: 0px 7px 64px 0px rgba(0, 0, 0, 0.07);

@font-999:blue;

@bg-color:#FAFAFA;

// clolors

